body {
  font-family: "Acme", sans-serif;
  text-decoration: #0a043c;
  color-adjust: inherit;
  font-size: 15px;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
  border: 0.5em solid #0a043c;
}
navbar {
  position: relative;
  left: 50%;
  color: #03506f;
}
h1 {
  line-height: 30px;
}
.container-app {
  text-align: center;
  padding: 0;
  background-color: #f1f6f9;
  box-shadow: 0px 10px 8px #0a043c;
}

.button {
  background: #03506f;
  padding: 12px 48px;
  border: inherit;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}
.daily-container {
  text-align: center;
  align-items: space-between;
}
.bottom {
  text-align: bottom right;
  display: block;
  cursor: pointer;
  color: #03506f;
}
.forecast {
  display: inline block;
}
